* {
  padding: 0;
  margin: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  font-family: "montserrat";
  color: #ffffff;
}

* body {
  background: #262626;
}

@media (max-width: 599px) {
  * body {
    overflow-x: hidden;
  }
}

.container {
  margin: 0 auto;
  max-width: 1100px;
}

nav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding: 1rem;
  top: 0;
  position: relative;
}

nav .logo {
  font-size: 1.4rem;
}

nav .logo span {
  font-weight: 600;
}

nav ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

@media (max-width: 599px) {
  nav ul {
    position: absolute;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    width: 50%;
    right: 0px;
    top: 0px;
    height: 100vh;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    background: #262626;
    z-index: 2;
    -webkit-transition: 1s all ease;
    transition: 1s all ease;
    -webkit-transform: translateX(100%);
            transform: translateX(100%);
  }
}

nav ul li {
  list-style-type: none;
}

nav ul li :hover {
  border-bottom: 2px solid #ffffff;
  -webkit-transition: 200ms all ease;
  transition: 200ms all ease;
}

nav ul li a {
  text-decoration: none;
  padding: 0.45rem;
  margin: 0 0.45rem;
}

@media (max-width: 599px) {
  nav ul li {
    padding: 2rem;
  }
}

@media (max-width: 599px) {
  .hamburger {
    position: absolute;
    right: 20px;
    top: 20px;
    z-index: 3;
    cursor: pointer;
  }
  .hamburger .line {
    width: 30px;
    height: 4px;
    background-color: white;
    margin: 3px;
  }
}

.loader {
  width: 100%;
  height: 100%;
  position: fixed;
  background: #262626;
  z-index: 99;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.loader .anim1 {
  width: 50px;
  height: 50px;
  background-color: white;
  border-radius: 25px;
  margin: 1rem;
  -webkit-animation: loader 1s ease-in-out;
          animation: loader 1s ease-in-out;
  -webkit-animation-iteration-count: infinite;
          animation-iteration-count: infinite;
}

.loader .anim2 {
  width: 50px;
  height: 50px;
  background-color: white;
  border-radius: 25px;
  margin: 1rem;
  -webkit-animation: loader 1s ease-in-out;
          animation: loader 1s ease-in-out;
  -webkit-animation-iteration-count: infinite;
          animation-iteration-count: infinite;
  -webkit-animation-delay: 200ms;
          animation-delay: 200ms;
}

.loader .anim3 {
  width: 50px;
  height: 50px;
  background-color: white;
  border-radius: 25px;
  margin: 1rem;
  -webkit-animation: loader 1s ease-in-out;
          animation: loader 1s ease-in-out;
  -webkit-animation-iteration-count: infinite;
          animation-iteration-count: infinite;
  -webkit-animation-delay: 400ms;
          animation-delay: 400ms;
}

.hidden {
  -webkit-animation: fade 1s;
          animation: fade 1s;
  -webkit-animation-fill-mode: forwards;
          animation-fill-mode: forwards;
}

@-webkit-keyframes loader {
  0% {
    -webkit-transform: translateY(0px);
            transform: translateY(0px);
  }
  50% {
    -webkit-transform: translateY(-20px);
            transform: translateY(-20px);
    background: #707070;
  }
  100% {
    -webkit-transform: translateY(0px);
            transform: translateY(0px);
  }
}

@keyframes loader {
  0% {
    -webkit-transform: translateY(0px);
            transform: translateY(0px);
  }
  50% {
    -webkit-transform: translateY(-20px);
            transform: translateY(-20px);
    background: #707070;
  }
  100% {
    -webkit-transform: translateY(0px);
            transform: translateY(0px);
  }
}

@-webkit-keyframes fade {
  100% {
    opacity: 0;
    visibility: hidden;
  }
}

@keyframes fade {
  100% {
    opacity: 0;
    visibility: hidden;
  }
}

footer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  padding: 1rem;
  color: #707070;
}

@media (max-width: 599px) {
  footer {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
}

footer div span {
  color: #707070;
}

footer div * {
  margin-top: 1rem;
  text-align: center;
}

@media (max-width: 599px) {
  footer div * {
    margin: 2rem;
  }
}

footer div a {
  text-decoration: none;
}

.head {
  width: 100%;
  background: url(../img/image3.jpg);
  background-size: cover;
  background-position: center center;
  background-repeat: no-repeat;
  padding: 1rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.head .opacity {
  margin: 1rem;
  background: rgba(0, 0, 0, 0.5);
  padding: 1rem;
  width: 50%;
  text-align: center;
}

.head .opacity h2 {
  font-size: 4rem;
  font-weight: 350;
}

section {
  margin: 1rem auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

section img {
  width: 400px;
  height: 500px;
  margin-right: 1rem;
}

section .about {
  max-width: 650px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  min-height: 500px;
}

section .about h2 {
  text-align: center;
  font-size: 3rem;
  margin: 1rem;
}

section .about p {
  text-align: justify;
  padding: 1rem;
}

.active {
  -webkit-transform: translateX(0%);
          transform: translateX(0%);
}
/*# sourceMappingURL=about.css.map */