// media query
@import "media";
// colors
@import "variables";
// config
@import "config";
// navigation
@import "navigation";
// main
@import "loader";
// loader

main {
  text-align: center;
  display: flex;
  flex-direction: column;
  height: 90vh;
  justify-content: center;
  position: relative;
  h2 {
    margin: 0.45rem;
    font-size: 4rem;
    font-weight: 300;
  }
  p {
    font-size: 1.4rem;
  }
  img {
    width: 1.4rem;
    align-self: center;
    // transform: translate(0rem, 6rem);
    opacity: 0;
  }
}
// background class
.background,
.skills,
.projects {
  background: url(../img/image1.jpg) no-repeat 100% 0%;
  background-size: 600px;
  height: 500px;
  display: flex;
  flex-direction: column;
  @include for-phone {
    height: 400px;
    padding: 1rem;
    margin: 1rem;
  }
  h2 {
    background: $background;
    width: 500px;
    padding: 1rem;
    text-align: center;
    font-size: 4rem;
    font-weight: 350;
    margin-top: 40px;
    @include for-phone {
      width: 100%;
    }
  }
  p {
    width: 400px;
    @include for-phone {
      background: rgba(31, 31, 31, 0.8);
      align-self: center;
      width: 100%;
      padding: 1rem;
    }
  }
}
.skills {
  background: url(../img/image2.jpg) no-repeat;
  background-size: 600px;

  h2 {
    transform: translateX(100%);
    @include for-phone {
      transform: translateX(0%);
    }
  }
  p {
    align-self: flex-end;
    // text-align: right;
  }
}
.projects {
  background: url(../img/image3.jpg) no-repeat 100% 0%;
  background-size: 600px;

  a {
    width: 120px;
    margin: 1rem 0rem;
    padding: 0.5rem;
    background: $background;
    border: 1px solid $font;
    text-decoration: none;
  }
}
@import "footer";

.got {
  display: flex;
  align-self: flex-end;
  margin-bottom: 1rem;
  color: $font2;
}
.typing::after {
  content: "";
  position: absolute;
  background: white;
  width: 2px;
  height: 80px;
  margin-left: 4px;
  animation: blink 0.5s infinite ease;
}

.arrow {
  animation-name: arrow;
  animation-duration: 3s;
  animation-iteration-count: infinite;
  animation-delay: 3s;
}
// keyframe animation
@keyframes arrow {
  0% {
    transform: translate(0rem, 6rem);
    opacity: 0;
  }
  50% {
    opacity: 1;
  }
  100% {
    transform: translate(0rem, 12rem);
    opacity: 0;
  }
}
@keyframes blink {
  0% {
    opacity: 1;
  }
  50% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

// @keyframes linkFade {
//   from {
//     opacity: 0;
//     transform: translateX(50px);
//   }
//   to {
//     opacity: 1;
//     transform: translateX(0px);
//   }
// }

//Active
.active {
  transform: translateX(0%);
}
